* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  margin: 0 auto;
  font-size: 0;
  border-collapse: collapse;
}

td {
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 15px;
}

#container {
  text-align: center;
  border-collapse: collapse;
  font-size: 0;
}

.color-box {
  width: 100px;
  height: 240px;
  font-size: 17px;
  display: inline-block;
}

div {
  margin: 0px;
  padding: 0px;
}

.circle {
  border: 1px solid black;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: auto;
}

.vline {
  height: 150px;
  width: 0px;
  border-left: 1px solid black;
  margin: auto;
}

.hline {
  height: 0px;
  width: 150px;
  border-top: 1px solid black;
  margin: auto;
  margin-top: -75px;
}
